.col-md-4.col-md-offset-4
  %p=image_tag "/#{current_user.avatar}.gif"

  %b Level:
  %h1=number_with_precision(current_user.level, precision: 0)

  %b EXP:
  %h1=number_with_precision(current_user.experience_points, precision: 2)
