 <p></p>
<div class="col-md-4 col-md-offset-4">
<h3><%= (level_upper_bound - current_user.experience_points).round(2) %> EXP to next level</h3>
</div>
<div class="col-md-4 col-md-offset-4">
  <div class="progress-bar" style="width: <%=fill_width%>px;"></div>
</div>


