# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b5b6f6154b0c730125a4af4105176730180073e8c04d52a20c024b4fdfbe116501841049d8dac4eeaee369b10e06678dfed7fc46aaee3f09a79ee18be8ce671f

test:
  secret_key_base: 36459c27a7044dca04d7d0a9fba538547c3fc8346c5844372b063f2ce5a1b1847e2831313abd2e2ac82a10d7ddfaae318d796d09e8e6f2530057a4fdd2b85040

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
